.aboutContainer {
  background-image: url("https://i.imgur.com/tQWcXgd.png");
}

.about {
  padding-top: 3rem;
  margin-left: 2rem;
  margin-right: 2rem;
}

.about_content {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  margin: 10rem 10rem 10rem 12rem;
}

.about__header {
  display: flex;
  flex-direction: row;
}

.about_content h2 {
  font-family: "Cormorant Upright";
  font-style: normal;
  font-weight: 500;
  font-size: 64px;
  line-height: 78px;
  /* identical to box height */

  color: #4c4c4c;
}

.about_content p {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 38px;
  /* or 211% */

  letter-spacing: 0.02em;

  color: #4c4c4c;
}

.about__image {
  margin-top: 7rem;
  margin-left: 5rem;
}
.quote {
  display: flex;
  justify-content: center;
  position: relative;
}
.quote p {
  position: absolute;
  top: 20%;
  font-family: "Cormorant Upright";
  font-weight: 400;
  font-size: 46px;
  line-height: 56px;
  text-align: center;
  letter-spacing: 0.02em;
  color: #4c4c4c;
  padding-left: 15vw;
  padding-right: 15vw;
}
.quote__image_1 {
  position: absolute;
  left: 16vw;
  top: -1vh;
  height: 3rem;
}
.quote__image_2 {
  position: absolute;
  left: 18vw;
  top: -1vh;
  height: 3rem;
}
@media screen and (max-width: 1650px) {
  .about_content {
    margin: 8em 4rem 8rem 7rem;
  }

  .about__image {
    margin-top: 7rem;
    margin-left: 4rem;
  }

  .about__image img {
    width: 550px;
    height: 360px;
  }
  .about_content p {
    line-height: 36px;
  }
  .quote__image_1 {
    left: 10vw;
  }
  .quote__image_2 {
    left: 8vw;
  }
}

.reviews {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  margin-top: 5rem;
  background: rgb(132, 124, 164);
  background: linear-gradient(
    90deg,
    rgba(132, 124, 164, 1) 0%,
    rgba(116, 148, 164, 1) 35%,
    rgba(116, 148, 164, 1) 100%
  );
  padding: 5rem;
}
.rectangle_1 {
  height: 18.75rem;
  width: 37.5rem;
  background-color: #fff;
  border-radius: 9rem;
  margin: 0px 2rem;
  position: relative;
  display: flex;
  justify-content: center;
}
.rectangle_2 {
  height: 16.25rem;
  width: 30.5rem;
  background-color: #fff;
  border-radius: 9rem;
  position: relative;
  display: flex;
  justify-content: center;
}

.rectangle_2_profile_cirlce {
  width: 80px;
  height: 80px;
  position: absolute;
  top: -50px;
  border-radius: 50%;
  background-color: #000;
  z-index: 2;
}

.rectangle_1_profile_cirlce {
  width: 100px;
  height: 100px;
  position: absolute;
  top: -50px;
  border-radius: 50%;
  background-color: #000;
  z-index: 2;
}
.rectangle_1__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 4rem 0rem;
}
.rectangle_1__content h3 {
  font-family: "Cormorant Upright";
  font-weight: 500;
  font-size: 30px;
  line-height: 36px;
  padding-top: 10px;
}
.rectangle_1__content h4 {
  font-size: 20px;
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 400;
  padding: 10px 0px;
}

.rectangle_1__content p {
  max-width: 30rem;
  text-align: center;
  font-family: "Work Sans";
  font-style: normal;
  line-height: 28px;
  padding-top: 10px;
}

.rectangle_2__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 4rem 2rem;
}
.rectangle_2__content h3 {
  font-family: "Cormorant Upright";
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  padding-top: 10px;
}
.rectangle_2__content h4 {
  font-size: 16px;
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 400;
  padding: 5px 0px;
}

.rectangle_2__content p {
  max-width: 24rem;
  text-align: center;
  font-family: "Work Sans";
  font-style: normal;
  line-height: 28px;
  padding-top: 10px;
}

@media screen and (max-width: 1650px) {
  .rectangle_2__content h3 {
    font-family: "Cormorant Upright";
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    padding-top: 12px;
  }

  .rectangle_2__content p {
    max-width: 22rem;
    text-align: center;
    font-family: "Work Sans";
    font-style: normal;
    line-height: 28px;
    padding-top: 6px;
  }
}
