.blogCardMainContainer {
  max-width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  margin: 4rem;
}

.blogCardMainImage {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.blogCardMainImage img {
  width: 800px;
  height: 450px;
  border-radius: 212px;
  margin-bottom: 2rem;
  text-align: center;
}

.blogCardMainContent {
  max-width: 40%;
}

.blogCardMainHeadibg {
  font-family: "Cormorant Upright";
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  line-height: 58px;
  margin: 1rem;
  color: #4c4c4c;
}

.blogCardMainDesc {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
  margin: 1rem;
  /* or 211% */

  letter-spacing: 0.02em;

  color: #4c4c4c;
}

.blogCardMainDetails {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 1rem;
}

.blogCardMainDetails a {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.02em;
  color: #4c4c4c;
}

.blogCardMainDetails p {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.02em;
  color: #8474a1;
}
